/JobAggregator.Api/JobAggregator.Api.sln
/JobAggregator.Api/JobAggregator.Api/appsettings.Production.json
/JobAggregator.Api/JobAggregator.Api/.vs/
.vs/
/JobAggregator.Api/JobAggregator.Api/Logs
/JobAggregator.Api/JobAggregator.Api/appsettings.Development.json
